/*---------------------------------------
    Navigation section
-----------------------------------------*/
.custom-navbar {
    margin-bottom: 0;
    background-color: #333;
    opacity: 0.2 !important;
}
#navbar-title{
        margin-left: 5%;
}
.imgLogo{
    float: left;
    width: 3%;
}
.navSize{
   width: 50%;
}
.alingNav{
    margin-left: 12%;
}
.custom-navbar .navbar-brand {
    color: #333;
    text-shadow: 1px 1px #fff;
    font-weight: bold;
    font-size: 24px;
    line-height: 35px;
    letter-spacing: 1px;
}
#btnNav a{
  color: #ffffff;
}
#btnNav a:hover{

}

.custom-navbar .nav li a {
    color: #666;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    line-height: 40px;
    transition: all 0.4s ease-in-out;
}

.custom-navbar .nav li a:hover {
    background: transparent;
    color: #ffffff;
}

.custom-navbar .navbar-nav > li > a:hover,
.custom-navbar .navbar-nav > li > a:focus {
  background-color: transparent;
}

.custom-navbar .nav li.active > a {
    background-color: transparent;
    color: #E3AE57;
}

.custom-navbar .navbar-toggle {
    border: none;
    padding-top: 10px;
}

.custom-navbar .navbar-toggle {
    background-color: transparent;
}

.custom-navbar .navbar-toggle .icon-bar {
    background: #E3AE57;
    border-color: transparent;
}

@media(min-width:768px) {
    .custom-navbar {
        padding: 2px 0;
        border-bottom: 0;
    }
    .custom-navbar.top-nav-collapse {
        background: #ffffff;
        box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.08);
        padding: 0;
    }

}

.logo-style{
    background-color: white;
    padding: 7px;
    border-radius: 50%;
    width: 50px;
    margin-top: 15px;
}
