<!DOCTYPE html>
<html>
     <head>
          <meta charset="UTF-8">
         <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
          <title>Federación Costarricense de Taekwondo</title>
        <link rel="icon" href="../../images/landingPageImg/ftcIcon.png">
         <link rel="stylesheet" href="../../css/general/reset.css">
        <link rel="stylesheet" href="../../css/font/font.css">
        <link rel="stylesheet" href="../../css/font/icons.css">
        <link rel="stylesheet" href="../../css/general/menus.css">
        <link rel="stylesheet" href="../../css/general/general.css">
        <link rel="stylesheet" href="../../css/general/forms.css">
        <link rel="stylesheet" href="../../css/general/tables.css">
        <link rel="stylesheet" href="../../css/general/alerts.css">
        <link rel="stylesheet" href="../../css/general/navbar.css">
        <link rel="stylesheet" href="../../css/general/alignment.css">
        <link rel="stylesheet" href="../../css/home/landing_page.css">
     </head>
     <body>
          <!-- Navigation Section -->
          <header class="navbar custom-navbar">
               <nav class="container">
                   <!-- navbar header -->
                    <div id="navbar-title" class="navbar-header navSize">
                         <div class="imgLogo logo-style"><img src="../../images/landingPageImg/ftcIcon.png"></div>
                         <div class="alingNav">
                         <strong><h3 class="color-white">Federación Costarricense de Taekwondo</h3></strong>  
                         </div>                        
                    </div>
                    <div>
                         <div class="imgLogo logo-style userImg"><img src="../../images/landingPageImg/ftcIcon.png"></div>
                         <ul class="nav navbar-nav navbar-right " id="btnNav">
                              <div class="username">
                                   <li><a href="#">Nombre del Usuario</a></li>
                              </div>     
                         </ul>
                    </div>
               </nav>
            </header>
          <div id="allInfo">
          <div class="navigation">
                <ul class="mainmenu">
                  <div id="admin">                    
                        <li><a href="#"><i class="plus flaticon-add-button-inside-black-circle"></i>Usuarios</a>
                         <ul class="submenu">
                               <li><a href="../users/insert_user.html"> Crear usuarios</a></li>
                               <li><a href="../users/list_users.html">Ver usuarios</a></li>
                         </ul>
                     </li>
                     <li><a href="#"><i class="plus flaticon-add-button-inside-black-circle"></i>Eventos</a>
                         <ul class="submenu">
                               <li><a href="../event/createEvent.html">Crear eventos</a></li>
                               <li><a href="../event/eventsList.html">Ver eventos</a></li>
                               <li><a href="../event/eventsResults.html">Ingresar Resultados</a></li>
                         </ul>
                     </li>
                     <li><a href="#"><i class="plus flaticon-add-button-inside-black-circle"></i>Lugares</a>
                         <ul class="submenu">
                               <li><a href="../places/insert_place.html">Crear lugares</a></li>
                               <li><a href="../places/list_places.html">Ver lugares</a></li>
                         </ul>
                     </li>
                     <li><a href="#"><i class="plus flaticon-add-button-inside-black-circle"></i>Organizaciones</a>
                         <ul class="submenu">
                               <li><a href="../organization/create_organization.html">Crear organizaciones</a></li>
                               <li><a href="../organization/report_organization.html">Ver organizaciones</a></li>
                         </ul>
                     </li>
                     <li><a href="#"><i class="plus flaticon-add-button-inside-black-circle"></i>Patrocinadores</a>
                         <ul class="submenu">
                               <li><a href="../sponsors/crear_patrocinador.html">Crear patrocinadores</a></li>
                               <li><a href="../sponsors/listar_patrocinadores.html">Ver  patrocinadores</a></li>
                         </ul>
                     </li>
                     <li><a href="#"><i class="plus flaticon-add-button-inside-black-circle"></i>Academias</a>
                         <ul class="submenu">
                               <li><a href="../academies/academias.html">Crear academias</a></li>
                               <li><a href="../academies/listarAcademias.html">Ver academias</a></li>
                         </ul>
                     </li>
                     <li><a href="#"><i class="plus flaticon-add-button-inside-black-circle"></i>Categorías</a>
                         <ul class="submenu">
                               <li><a href="../categories/create_categories.html">Crear categorías</a></li>
                               <li><a href="../categories/list_categories.html">Ver categorías</a></li>
                         </ul>
                     </li>
                     <li><a href="#"><i class="plus flaticon-add-button-inside-black-circle"></i>Reportes</a>
                         <ul class="submenu">
                               <li><a href="../reports/listaEventos.html">Ver información de eventos</a></li>
                               <li><a href="../reports/resultsEvent.html">Ver resultados de eventos</a></li>
                               <li><a href="../reports/ganacias.html">Ver ganacias de eventos</a></li>
                               <li><a href="../reports/athlete_history.html">Ver hisorial usuario</a></li>
                         </ul>
                     </li>
                      <li id="assistent"><a href="#"><i class="plus flaticon-add-button-inside-black-circle"></i>Sistema</a>
                         <ul class="submenu">
                               <li><a href="../system_settings/create_settings.html">Parámetros</a></li>
                         </ul>
                     </li>
                     </div>
                     <div id="teacher">
                       <li><a href="#"><i class="plus "></i>Mi perfil</a></li>
                       <li><a href="#"><i class="plus flaticon-add-button-inside-black-circle"></i>Alumnos</a>
                         <ul class="submenu">
                               <li><a href="../users/insertarUsuarios.html">Ingresar alumnos</a></li>
                               <li><a href="../academies/academias.html">Ver alumnos</a></li>
                         </ul>
                     </li>
                     <li><a href="#"><i class="plus flaticon-add-button-inside-black-circle"></i>Eventos</a>
                         <ul class="submenu">
                               <li><a href="../event/eventsAssigned.html">Ver eventos</a></li>
                         </ul>
                     </li>
                     <li><a href="#"><i class="plus flaticon-add-button-inside-black-circle"></i>Reportes</a>
                         <ul class="submenu">
                               <li><a href="../reports/resultsEvent.html">Ver resultados de eventos</a></li>
                        </ul>
                     </li>
                     </div>
                    <div id="student">
                       <li><a href="#"><i class="plus "></i>Mi perfil</a></li>
                       <li><a href="#"><i class="plus flaticon-add-button-inside-black-circle"></i>Eventos</a>
                         <ul class="submenu">
                               <li><a href="../event/eventsAssignedToStudent.html">Ver eventos</a></li>
                               <li><a href="../event/lastEvents.html">Ver Torneos participados</a></li>
                         </ul>
                     </li>
                     <li><a href="#"><i class="plus flaticon-add-button-inside-black-circle"></i>Reportes</a>
                         <ul class="submenu">
                               <li><a href="../reports/resultsEvent.html">Ver resultados de eventos</a></li>
                                <li><a href="../reports/athlete_history.html">Ver historial</a></li>
                        </ul>
                     </li>
                     </div>
                 </ul>
          </div>
          <div class="content-info">
               <div class="forms" id="form">
                  <div class="form-header">
                    <h2>Registrar categoría</h2>
                  </div>
                  <div id="alert" class="normal">
                    
                  </div>
                  <form>
                    <div class="form-body">
                        <div class="column-left">
                          <div class="group">

                           <label for="txtNombre">Nombre</label>
          <input type="text" id="txtNombre" required="true">

                          </div>
                          <div class="group">
                            <label for="txtDescripcion">Descripción</label>
          <textarea rows="4" cols="50" id="txtDescripcion"  required="true"></textarea>
                          </div>
                          <div class="group">
                           <label for="sltCategoriaRango">Rango</label>
          <select id="sltCategoriaRango">
          </select>
                          </div>
                          <div class="group">
                            <ponga su label aqui>
          <ponga su input aqui>  
                          </div>
                        </div>
                        <div class="column-right">
                          <div class="group">
                            <ponga su label aqui>
          <ponga su input aqui>

                            </select>                       
                          </div>  
                           <div class="group">
                            <label for="sltCategoriaEdad">Edad</label>
                  <select id="sltCategoriaEdad">    
                  </select>
                          </div>
                           <div class="group">
                           <label for="sltCategoriaPeso">Peso</label>
                  <select id="sltCategoriaPeso">    
                  </select>
                          </div>
                          <div class="group">
                            <ponga su label aqui>
          <ponga su input aqui>

                            </select>                         
                          </div>                         
                        </div>
                    </div>
                    <div class="form-footer">

            <input type="button"  value="Guardar" class="btn btnImportant" id="btnGuardarCat">



                    </div>
                  </form>
               </div>
          </div>
          </div>
          <div class="clearfix"></div>
          <script src="../../js/util/load_user_menu.js"></script>
          <script src="../../js/categories/create_categories_logic_busi.js"></script>
      <script src="../../js/categories/create_categories_logic_interface.js"></script>
  </body>
</html>