<!DOCTYPE html>
<html>
     <head>
          <meta charset="UTF-8">
         <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
          <title>Federación Costarricense de Taekwondo</title>
        <link rel="icon" href="../../images/landingPageImg/ftcIcon.png">
         <link rel="stylesheet" href="../../css/general/reset.css">
        <link rel="stylesheet" href="../../css/font/font.css">
        <link rel="stylesheet" href="../../css/font/icons.css">
        <link rel="stylesheet" href="../../css/general/menus.css">
        <link rel="stylesheet" href="../../css/general/general.css">
        <link rel="stylesheet" href="../../css/general/forms.css">
        <link rel="stylesheet" href="../../css/general/tables.css">
        <link rel="stylesheet" href="../../css/general/alerts.css">
        <link rel="stylesheet" href="../../css/general/navbar.css">
        <link rel="stylesheet" href="../../css/general/alignment.css">
        <link rel="stylesheet" href="../../css/home/landing_page.css">
        <link rel="stylesheet" href="../../css/general/modal.css">
        <script src="../../js/util/set_environment.js" ></script> 
        </head>
     <body>
          <!-- Navigation Section -->
          <header class="navbar custom-navbar">
               <nav class="container">
                   <!-- navbar header -->
                    <div id="navbar-title" class="navbar-header navSize">
                         <div class="imgLogo logo-style"><img src="../../images/landingPageImg/ftcIcon.png"></div>
                         <div class="alingNav">
                         <strong><h3 class="color-white">Federación Costarricense de Taekwondo</h3></strong>  
                         </div>                        
                    </div>
                    <div>
                         <div class="imgLogo logo-style userImg"><img src="../../images/landingPageImg/ftcIcon.png"></div>
                         <ul class="nav navbar-nav navbar-right " id="btnNav">
                              <div class="username">
                                   <li><a href="#">Nombre del Usuario</a></li>
                              </div>     
                         </ul>
                    </div>
               </nav>
            </header>
          <div id="allInfo">
          <div class="navigation">
                <ul class="mainmenu">
                  <div id="admin">                    
                        <li><a href="#"><i class="plus flaticon-add-button-inside-black-circle"></i>Usuarios</a>
                         <ul class="submenu">
                               <li><a href="../users/insert_user.html"> Crear usuarios</a></li>
                               <li><a href="../users/list_users.html">Ver usuarios</a></li>
                         </ul>
                     </li>
                     <li><a href="#"><i class="plus flaticon-add-button-inside-black-circle"></i>Eventos</a>
                         <ul class="submenu">
                               <li><a href="createEvent.html">Crear eventos</a></li>
                               <li><a href="eventsList.html">Ver eventos</a></li>
                               <li><a href="eventsResults.html">Ingresar Resultados</a></li>
                         </ul>
                     </li>
                     <li><a href="#"><i class="plus flaticon-add-button-inside-black-circle"></i>Lugares</a>
                         <ul class="submenu">
                               <li><a href="../places/insert_place.html">Crear lugares</a></li>
                               <li><a href="../places/list_places.html">Ver lugares</a></li>
                         </ul>
                     </li>
                     <li><a href="#"><i class="plus flaticon-add-button-inside-black-circle"></i>Organizaciones</a>
                         <ul class="submenu">
                               <li><a href="../organization/create_organization.html">Crear organizaciones</a></li>
                               <li><a href="../organization/report_organization.html">Ver organizaciones</a></li>
                         </ul>
                     </li>
                     <li><a href="#"><i class="plus flaticon-add-button-inside-black-circle"></i>Patrocinadores</a>
                         <ul class="submenu">
                               <li><a href="../sponsors/crear_patrocinador.html">Crear patrocinadores</a></li>
                               <li><a href="../sponsors/listar_patrocinadores.html">Ver  patrocinadores</a></li>
                         </ul>
                     </li>
                     <li><a href="#"><i class="plus flaticon-add-button-inside-black-circle"></i>Academias</a>
                         <ul class="submenu">
                               <li><a href="../academies/academias.html">Crear academias</a></li>
                               <li><a href="../academies/listarAcademias.html">Ver academias</a></li>
                         </ul>
                     </li>
                     <li><a href="#"><i class="plus flaticon-add-button-inside-black-circle"></i>Reportes</a>
                         <ul class="submenu">
                               <li><a href="../reports/listaEventos.html">Ver información de eventos</a></li>
                               <li><a href="../reports/resultsEvent.html">Ver resultados de eventos</a></li>
                               <li><a href="../reports/ganacias.html">Ver ganacias de eventos</a></li>
                               <li><a href="../reports/athlete_history.html">Ver hisorial usuario</a></li>
                         </ul>
                     </li>
                      <li id="assistent"><a href="#"><i class="plus flaticon-add-button-inside-black-circle"></i>Sistema</a>
                         <ul class="submenu">
                               <li><a href="../system_settings/create_settings.html">Parámetros</a></li>
                         </ul>
                     </li>
                     </div>
                     <div id="teacher">
                       <li><a href="#"><i class="plus "></i>Mi perfil</a></li>
                       <li><a href="#"><i class="plus flaticon-add-button-inside-black-circle"></i>Alumnos</a>
                         <ul class="submenu">
                               <li><a href="../users/insertarUsuarios.html">Ingresar alumnos</a></li>
                               <li><a href="../academies/academias.html">Ver alumnos</a></li>
                         </ul>
                     </li>
                     <li><a href="#"><i class="plus flaticon-add-button-inside-black-circle"></i>Eventos</a>
                         <ul class="submenu">
                               <li><a href="../event/eventsAssigned.html">Ver eventos</a></li>
                         </ul>
                     </li>
                     <li><a href="#"><i class="plus flaticon-add-button-inside-black-circle"></i>Reportes</a>
                         <ul class="submenu">
                               <li><a href="../reports/resultsEvent.html">Ver resultados de eventos</a></li>
                        </ul>
                     </li>
                     </div>
                    <div id="student">
                       <li><a href="#"><i class="plus "></i>Mi perfil</a></li>
                       <li><a href="#"><i class="plus flaticon-add-button-inside-black-circle"></i>Eventos</a>
                         <ul class="submenu">
                               <li><a href="../event/eventsAssignedToStudent.html">Ver eventos</a></li>
                               <li><a href="../event/lastEvents.html">Ver Torneos participados</a></li>
                         </ul>
                     </li>
                     <li><a href="#"><i class="plus flaticon-add-button-inside-black-circle"></i>Reportes</a>
                         <ul class="submenu">
                               <li><a href="../reports/resultsEvent.html">Ver resultados de eventos</a></li>
                                <li><a href="../reports/athlete_history.html">Ver historial</a></li>
                        </ul>
                     </li>
                     </div>
                 </ul>
          </div>
          <div class="content-info">
               <div class="forms">
                  <div class="form-header">
                    <h2>Eventos</h2>
                    <input type="text" id="searchBar" placeholder="Buscar evento">
                  </div>
                    <table id="events">
                          <thead>
                          <tr>
                            <th>Nombre de evento</th>
                            <th>Fecha de inicio</th>
                            <th>Lugar</th>
                            <th>Tipo de vento</th>
                            <th></th>
                          </tr>
                          </thead>
                          <tbody>
                         
                          </tbody>
                  </table>
               </div>
          </div>
          </div>
          <div class="clearfix"></div>
                     <!-- The Modal -->
          <div id="sellEvent" class="modal">
               <div class="modal-content">
                    <div id="VariableContent">
                    <div class="modal-header">
                         <h1>Confirmación</h1>
                         <span class="close">&times;</span>
                    </div>
                    <div class="contet">
                         <p>¿Seguro que desea eliminar este elemento?</p>     
                    </div>
                    </div>
                    <div class="modal-footer">
                    <input type="button" value = "Aceptar" id="btnOK" class="btn btnImportant btnOnDelete">
                    <input type="button" value = "Cancelar" id="btnCancelar" class="btn btnClose btnOnDelete">
               </div>
               </div>
          </div>
          <script src="../../js/util/modal.js"></script>
          <script src="../../js/util/load_user_menu.js"></script>
          <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
          <script src="../../js/util/search.js"></script>
          <script src="../../js/events/EventLogicBusinnes/EventBussinessLogic.js"></script>
          <script src="../../js/events/EventLogicInterface/EventListsLogicInterface.js"></script>
          
	</body>
</html>